@tailwind base;
@tailwind components;
@tailwind utilities;

.welcompage{
  background-image: url('./assets/pexels-felix-mittermeier-956999.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;
  margin: 0px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.start-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
 }
 
 .start-button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0E2C54 0%, #325C94 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 .start-button:hover{
  color: #fff;
  transition: 0,3;
 }
 
 .start-button:hover::before {
  width: 9em;
  color: #fff;
 }
 .title{
  font-size: 100px;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }